# Ignore datasets
*.csv

# Ignore logs
*.log

# Ignore environment
venv/
.env/
.venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore random junk
.DS_Store
.vscode/
.idea/
